* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    overflow-x: hidden;
}

.about {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 50px;
    
    
}



.intro {
    background-color: white;
    margin-bottom: 10px;
    width: 100%;
    text-align: center;
    color: #023FB3;
    margin-left: 5Px;
    margin-right: 5px;
    padding:30px 200px;

}   

.info {
    top: 200px;
    background-color: white;
    color: #023FB3;
    margin-left: 100Px;
    margin-right: 100px;
    padding: 50px 200px;
    text-align: justify;
    border: 1px solid #023FB3;
}
