* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
}

.h {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 50px;
    text-align: center;
    
}



.intro {
    color: white;
    margin-bottom: 50px;
    background-color: #023FB3;
    margin-left: 170Px;
    margin-right: 170px;
    padding: 50px 200px;
}   

