* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
}

.about {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 50px;
    
    
}



.intro {
    background-color: white;
    margin-bottom: 10px;
    width: 100%;
    text-align: center;
    color: #023FB3;
    margin-left: 20Px;
    margin-right: 20px;
    padding:30px 200px;

}   

.content {
    background-color: white;
    color: #023FB3;
    margin-left: 170Px;
    margin-right: 170px;
    
}
