*{
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    overflow-x: hidden;
}

.contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
     background-color: white;
    margin-bottom: 10px;
    width: 100%;
    color: #023FB3;
    margin-left: 5px;
    margin-right: 5px;
    padding:30px 200px;

    
}

.formulaire{
    background-color: white;
    border: 1px solid #023FB3  ;
    border-radius: 10px;
    padding: 10px;
    color: #023FB3;
    
}

.mini-info {
display: flex;
}

/