*{
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    overflow-x: hidden;
}

.contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
     background-color: white;
    

    
}

.formulaire{
    background-color: white;
    border: 1px solid #023FB3  ;
    border-radius: 10px;
    padding: 10px;
    color: #000000;
    margin-bottom: 10px;
    width: 100%;
    color: #023FB3;

    padding:30px 100px;
    
    
}

.mini-info {
display: flex;
}

.form-control {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #023FB3;
    border-radius: 5px;
    resize: none;
}