*{
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    overflow-x: hidden;
}

.contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    p
    background-color: #f0f0f0;
}