* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.home-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
}
