* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.home-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 50px;
    padding-left: 200px;
    p
}



.intro {
    text-align: center;
    margin-bottom: 50px;
}   