* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
}

.home-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 50px;
    text-align: center;
    
}



.intro {
    color: white;
    margin-bottom: 50px;
    background-color: #023FB3;
    margin-left: 170Px;
    margin-right: 170px;
    padding: 50px 200px;
}   

.event-button {
    background-color: #0867bb;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 20px;
}

