* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
}

.home-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 50px;
    text-align: center;
    
}



.intro {
    color: white;
    margin-bottom: 50px;
    padding-left: 200px;
    padding-right: 200px;
    background-color: #023FB3;
    margin-left: 10Px;
    margin-right: 200px;
}   