*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
    color: #00bfff;
}


ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}


.navbar {
    background-color: #333;
    color: white;

    display: flex;
    flex-direction: row;
   
    align-items: center;
}